---
export const prerender = false;

import puppeteer from "puppeteer";
import bookUpstairs from "../scrapers/book-upstairs";
import chapters from "../scrapers/chapters";

const BOOK_UPSTAIRS = "Book Upstairs";
const CHAPTERS = "Chapters Bookstore";

const results = {
  [BOOK_UPSTAIRS]: {
    title: "",
    href: "",
  },
  [CHAPTERS]: {
    title: "",
    href: "",
  },
};

if (Astro.request.method === "POST") {
  const data = await Astro.request.formData();
  const browser = await puppeteer.launch();
  const page = await browser.newPage();

  const searchQuery = data.get("search")?.toString();

  if (searchQuery) {
    // Book Upstairs
    results[BOOK_UPSTAIRS] = await bookUpstairs(page, searchQuery);

    // Chapters
    results[CHAPTERS] = await chapters(page, searchQuery);
  }

  await browser.close();
}
---

<h1>{BOOK_UPSTAIRS}</h1>
<a href={results[BOOK_UPSTAIRS].href}>{results[BOOK_UPSTAIRS].title}</a>
<h1>{CHAPTERS}</h1>
<a href={`https://chaptersbookstore.com${results[CHAPTERS].href}`}
  >{results[BOOK_UPSTAIRS].title}</a
>
